{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
    .form-section form {
        box-shadow: -10px 0px 13px -7px rgba(255, 0, 0, 0.473), 10px 0px 13px -7px rgba(255, 0, 0, 0.473);
    }

    .btn {
        background-color: #eb4444;
        transition: background-color 0.2s;
    }

    .btn:hover {
        background-color: #e93636;
    }
</style>

<div class="head">    
    <h1 class="head-title">Add New Favourites</h1>
    <h3 class="error-msg">{{error}}</h3>
</div>

<!-- <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Add</button>
</form> -->

<section class="form-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <label for="name" class="label label-center">Name</label>
            <input required type="text" class="input-select-area" name="name" autocomplete="off">
        </div>
        <div class="form-row">
            <label for="author_or_creator" class="label label-center">Author or Creator</label>
            <input type="text" class="input-select-area" name="author_or_creator" autocomplete="off">
            </div>
        <div class="form-row">
            <label for="genre" class="label label-center">Genre</label>
            <select class="input-select-area" name="genre">
                <option value="book">Book</option>                 
                <option value="anime/manga">Anime/Manga</option>
                <option value="movie">Movie</option>
                <option value="music">Music</option>
                <option value="game">Game</option>
                <option value="food">Food</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-row">
            <label for="image" class="label label-center">Image</label>
            <input type="file" name="image" accept="image/*">
        </div>
        <div class="form-row">
            <label for="description" class="label">Description</label>
            <textarea class="textarea" name="description"></textarea>
        </div>
        <button class="btn" type="submit">Add</button>
    </form>
</section>

{% endblock %}