{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="head">
    <h1 class='head-title'>Food</h1>
</div>

<main>
    {% for food in foods reversed %}

    <div class="card {{food.genre}}">
        <div class="img-div">
            {% if food.image %}
                <img class="img" src="{{ food.image.url }}">
            {% else %}
                <img class="img" src="../../../media/images/20200501_noimage.png">
            {% endif %}
        </div>
        <div class="info-div">
            <p class="name"><strong>{{food.name}}</strong></p>
            <p class="author_or_creator">{{food.author_or_creator}}</p>
            <p class="genre">{{food.genre}}</p>
            <hr>
            <p class='description'>{{food.description}}</p>
            <a class="fas fa-pencil-alt" href="{% url 'editmyfav' food.id %}"></a>
            <form action="{% url 'delete' food.id %}" method="POST">
                {% csrf_token %}
                <button class="delete" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div> 
    </div>

    {% endfor %}
</main>




{% endblock %}