{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="head">
    <h1 class='head-title'>Game</h1>
</div>

<main>
    {% for game in games reversed %}

    <div class="card {{game.genre}}">
        <div class="img-div">
            {% if game.image %}
                <img class="img" src="{{ game.image.url }}">
            {% else %}
                <img class="img" src="../../../media/images/20200501_noimage.png">
            {% endif %}
        </div>
        <div class="info-div">
            <p class="name"><strong>{{game.name}}</strong></p>
            <p class="author_or_creator">{{game.author_or_creator}}</p>
            <p class="genre">{{game.genre}}</p>
            <hr>
            <p class='description'>{{game.description}}</p>
            <a class="fas fa-pencil-alt" href="{% url 'editmyfav' game.id %}"></a>
            <form action="{% url 'delete' game.id %}" method="POST">
                {% csrf_token %}
                <button class="delete" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div> 
    </div>

    {% endfor %}
</main>




{% endblock %}