{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="head">
    <h1 class='head-title'>Movie</h1>
</div>

<main>
    {% for movie in movies reversed %}

    <div class="card {{movie.genre}}">
        <div class="img-div">
            {% if movie.image %}
                <img class="img" src="{{ movie.image.url }}">
            {% else %}
                <img class="img" src="../../../media/images/20200501_noimage.png">
            {% endif %}
        </div>
        <div class="info-div">
            <p class="name"><strong>{{movie.name}}</strong></p>
            <p class="author_or_creator">{{movie.author_or_creator}}</p>
            <p class="genre">{{movie.genre}}</p>
            <hr>
            <p class='description'>{{movie.description}}</p>
            <a class="fas fa-pencil-alt" href="{% url 'editmyfav' movie.id %}"></a>
            <form action="{% url 'delete' movie.id %}" method="POST">
                {% csrf_token %}
                <button class="delete" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>
        </div> 
    </div>

    {% endfor %}
</main>




{% endblock %}